body{
  margin: 0px;
  padding: 0px;
}

.main{
  display: flex;
  height: 100vh;
  flex-direction: column;

  .header{
    height: 32px;
    display: flex;
    background-color: rgb(241 181 142);
    flex-direction: row;

    .logo{
      height: 24px;
      line-height: 24px;
      width: 24px;
      margin: 4px 0px;
      display: inline-block;
      background-color: #fff;
      transform: rotate(90deg);
      text-align: center;
      color: #cecece;

      .yellowdot{
        color: #f5df4d;
      }
    }

    .nav{
      font-size: 16px;
      line-height: 32px;
      width: 32px;
      margin: 0px 8px;
      text-align: center;
      cursor: pointer;
    }

    .productName{
      line-height: 32px;
      padding-left: 8px;
      color: #6f5004;
    }
  }
  .container{
    flex-direction: row;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
  }
  .left{
    
    position: relative;

    .leftmenu{
      margin-right: 5px;
      em{
        display: none;
      }
    }
    .stick{
      background-color: rgb(202, 202, 250);
      width: auto;
      height: 50px;
      position: absolute;
      right: 0px;
      top: 0px;
      cursor: pointer;
      font-size: 2.5rem;
      line-height: 45px;
      display: none;
    }
  }
  .gap{
    width: 5px;
    cursor: col-resize;
    height: 100vh;
    background-color: antiquewhite;
  }
  .view{
    flex:1;
    flex-direction: column;
    display: flex;

    .footer{
      margin-top: auto;
      margin-bottom: 0px;
    }
  }
  
  .leftmenu a{
    cursor: pointer;
  }
}

.dark{
  a:visited {
    color: wheat;
    text-decoration-color: rgb(250, 224, 140);
  }
}

.counter_month{
  width: 50px;
  margin: 0px;
  padding: 0px;
  height: 35px;
  li{
    list-style: none;
    float: left;
    width: 9px;
    height: 9px;
    background-color: aqua;
    margin-right: 3px;
    margin-bottom: 3px;
  }

  li.blank{
    background-color: white;
  }
}

@media screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and ((-webkit-device-pixel-ratio: 2) or (-webkit-device-pixel-ratio: 3)) {
    .leftmenu{
      margin-left: 0px;
      padding: 0px 0px 0px 10px;
      li{
        list-style: none;
      }
    }
    .toggled{
      .left{
        .leftmenu{
          margin-top: 52px;
          em{
            display: inline;
            font-style: normal;
            font-size: 2rem;
          }
          span{
            display: none;
          }
        }
      }
      
    }
    .main{
      .left{
        .stick{
          display: block;
        }
      }
    }
    
}